*{
    margin:  0;
    padding: 0;
    font-family: sans-serif;
}

:root{
    --color-gray: #667085;
    --color-red:  #FF0000;
}

.header{
    display: flex;
    color: #667085;
    margin: 1rem 3rem;
    align-items: center;
    justify-content: space-between;
}

.header-menu ul{
    display: flex;
}
.header-menu ul li{
    list-style: none;
    margin: 0 1rem;
}

.header-btns{
    display: flex;
    align-items: center;
}
.header-btns .btn{
    margin: 0 .5rem;
}
.header-btns .btn:last-child{
    color: #FFF;
    border-radius: 8px;
    padding: .5rem 1rem;
    background-color: #8E2424;
}
.header-btns .btn:last-child:hover{
    cursor: pointer;
}

